<mat-toolbar class="navbar">
  <button class="menu-button">
    <mat-icon>menu</mat-icon>
  </button>
  <a routerLink="">
    <div>Learning App</div>
  </a>
  <mat-list class="my-nav-list">
    <mat-list-item>
      <a routerLink="weather" routerLinkActive="active">
        <div class="icon-text">
          <mat-icon>wb_sunny</mat-icon>
          <span>Weather</span>
        </div>
      </a>
    </mat-list-item>

    <mat-list-item>
      <a routerLink="todo-list" routerLinkActive="active">
        <div class="icon-text">
          <mat-icon>list</mat-icon>
          <span>Todo list</span>
        </div>
      </a>
    </mat-list-item>
  </mat-list>
</mat-toolbar>
<router-outlet></router-outlet>
